@page "/profile"
@using PersonalFinanceTrackingSystem.App.Components.Layout
@rendermode RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject ProfileService _profileService
@inject ILogger<Page_Profile> _logger
@using MudBlazor
@using PersonalFinanceTrackingSystem.Domain.Features.Authentication.Profile
@using Variant = MudBlazor.Variant
@layout MainLayout

@if (_profile.Data != null)
{
    <MudCard Class="pa-4" Elevation="8" Style="max-width: 800px; margin: auto;">
        <MudCardContent>
            <div class="d-flex flex-column align-center">
                <!-- Profile Image with Hover Effect -->
                <div class="position-relative profile-image-container">
                    @if (_request.ImageUrl is not null)
                    {
                    <MudImage Src=@_request.ImageUrl Width="100" Height="100" Style="border-radius: 50%;"/>
                    }
                    else
                    {
                    <MudImage Src=@_imageBase64Str Width="100" Height="100" Style="border-radius: 50%;"/>
                    }
                    <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                        <ActivatorContent>
                            <MudBadge Icon="@Icons.Material.Filled.CameraAlt" Color="Color.Info" />
                            @* Style="position: absolute; bottom: 15px; right: 68px; z-index: 10;" *@
                        </ActivatorContent>
                    </MudFileUpload>
                </div>

                <!-- User Details -->
                <div class="mt-4" style="width: 100%;">
                    <MudTextField Label="User Name" Variant="Variant.Outlined" FullWidth="true" @bind-Value="_request.UserName" Class="mb-4" />
                    <MudTextField Label="Phone" Variant="Variant.Outlined" FullWidth="true" @bind-Value="_request.Phone" Class="mb-4" />
                    <MudTextField Label="Email" Variant="Variant.Outlined" FullWidth="true" @bind-Value="_request.Email"  Class="mb-4" />
                </div>

                <!-- Action Buttons -->
                <div class="d-flex justify-center mt-4" style="width: 100%;">
                    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="Clear" Disabled="@disabled" Class="me-2">
                        Clear
                    </MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">
                        Update
                    </MudButton>
                </div>
            </div>
        </MudCardContent>
    </MudCard>
}