<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData=@routeData />
    </Found>
</Router>
@* <CascadingAuthenticationState> *@
@*     <Router AppAssembly="@typeof(Program).Assembly"> *@
@*         <Found Context="routeData"> *@
@*             <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" /> *@
@*         </Found> *@
@*         <NotFound> *@
@*             <LayoutView DefaultLayout="typeof(MainLayout)"> *@
@*                 <h3>Sorry, the page was not found.</h3> *@
@*             </LayoutView> *@
@*         </NotFound> *@
@*     </Router> *@
@* </CascadingAuthenticationState> *@
